body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5
}

.sidebar {
    width: 400px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid grey;
}

div.content {
    margin-left: 401px;
    padding: 35px;
    height: 1000px;
}

@media screen and (min-width: 700px) {
    .sidebar a {
        text-align: center;
        float: none;
    }

    img {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 699px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    img {
        width: 75%;
        height: auto;
    }

    div.content {
        margin-left: 0;
    }
}

.container {
    position: relative;
    text-align: center;
}

.textblock {
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: #FF6699;
    /*#FEBDDC*/
    color: white;
    padding-left: 17px;
    padding-right: 17px;
    vertical-align: middle
}

.textblock:hover {
    color: #000 !important
}

img {
    left: 0px;
    top: 0px;
    z-index: -5;
    opacity: 0.90;
}

/*IT Skills comienzan acá*/
.barra {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    height: 15px;
    margin: 5px;
}

#html,
#css,
#javascript,
#basededatos,
#excel,
#word {
    padding: 10px;
    height: 55px;
    color: #FF6699;
    background-color: #FF6699;
    cursor: pointer;
    border-radius: 8px;
    width: 1%;
    height: 15px;
    transition: 5s;
}

#html:after,
#css:after,
#javascript:after,
#basededatos:after,
#excel:after,
#word:after {
    transition: 10s;
}

button {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 3px;
    float: right;
}

/*Hasta acá*/

/*Languages cambiarlo y hacerlo responsive*/
#english{
    float: left;
    margin-left: 0;
    background-color: white;
    color: black;
    border: 2px solid #FF6699;
    width: 10%;
    height: 25px;
    transition: 2.5s;
}

#italian{
    float: left;
    margin-left: 0;
    background-color: white;
    color: black;
    border: 2px solid #FF6699;
    width: 10%;
    height: 25px;
    transition: 2.5s;
}

#portuguese{
    float: left;
    margin-left: 0;
    background-color: white;
    color: black;
    border: 2px solid #FF6699;
    width: 10%;
    height: 25px;
    transition: 2.5s;
}

#russian {
    float: left;
    margin-left: 0;
    background-color: white;
    color: black;
    border: 2px solid #FF6699;
    width: 10%;
    height: 25px;
    transition: 2.5s;
}

#english:hover,
#italian:hover,
#portuguese:hover,
#russian:hover {
    background-color: #FF6699;
    color: white;
    width: 90%; /*Según el nivel*/
    height: 50px;
}

/*Cambiar content*/
#english:hover:after,
#italian:hover:after,
#portuguese:hover:after,
#russian:hover:after {
    content: "Word 90%";
}
/*Hasta acá*/

html {
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 10px 0
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

#aboutme {
    text-align: center;
    padding: 15px;
}

.abilities,
.languages,
.workexperience,
.education,
.hobbies {
    padding: 15px;
}
